<!-- About Section -->
<section id="about" class="about">
    <div class="content-wrapper">
        <div class="col-lg-10 col-lg-offset-1">
            <h3>{{ site.aboutTitle }}</h3>
            <div class="row about-details">
                {% assign animationDelay = 0 %}
                {% for about in site.aboutBlock %}
                {% assign colWidth = 12 | divided_by: forloop.length %}
                <div class="col-md-offset-1 col-sm-offset-1 col-md-10 col-sm-10 col-xs-12" style="text-align:justify">  
                    <div class="animated hiding" data-animation="fadeInDown" data-delay="{{ animationDelay }}" style="padding-bottom:30px">
                        <!--<h5>{{ about.title }}</h5>-->
                        <!--<img class="img-circle" src="{{ site.baseurl }}/img/about-section/{{ about.image }}" height="128" width="128" alt="{{ about.title }}">-->
                        <p>{{ about.text }}</p>
                    </div>
                </div>
                
                       <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12">
                            <div class="countdown text-center">
                                <div class="counter-day col-sm-3 col-md-3">
                                    <span class="days">00</span>
                                    <div class="smalltext">Days</div>
                                </div>
                                <div class="counter-hour col-sm-3 col-md-3">
                                    <span class="hours">00</span>
                                    <div class="smalltext">Hours</div>
                                </div>
                                <div class="counter-minute col-sm-3 col-md-3">
                                    <span class="minutes">00</span>
                                    <div class="smalltext">Minutes</div>
                                </div>
                                <div class="counter-second col-sm-3 col-md-3">
                                    <span class="seconds">00</span>
                                    <div class="smalltext">Seconds</div>
                                </div>
                            </div><!-- Countdown end -->
                            
                            

                        </div><!-- Col end -->
                    </div><!-- Content row end -->

                {% assign animationDelay = animationDelay | plus:500 %}
                {% assign check = forloop.index | modulo:2 %}
                {% if check == 0 %} <div class="clearfix visible-xs"></div> {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</section>
<!-- End About Section -->
